

<div ng-controller="CreateController as vm" layout="column" ng-cloak>
  <br>
  <h1 style="color:black; text-align:center;">Product Review here!</h1>
  <br>
  <div layout="row" layout-wrap>
    <!-- <h1 style="color:black; text-align:left;">Product Review here!</h1>
    <br> -->
    <div flex="10">

    </div>
    <div flex="">
      <md-content layout-padding class="autoScroll">
        <md-input-container>
          <label class="md-hue-1">Product Name & Brand</label>
          <input ng-model="vm.review.name" type="text" placeholder="Product Name/Brand" ng-required="true">
        </md-input-container>
        <md-input-container md-no-float>
          <label>Image</label>
          <input ng-model="vm.review.image" type="text" placeholder="Image URL" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label>Rating</label>
          <md-select ng-model="vm.review.rating" ng-required="true">
          <md-option value='5'>5 Excellent</md-option>
          <md-option value='4'>4</md-option>
          <md-option value='3'>3</md-option>
          <md-option value='2'>2</md-option>
          <md-option value='1'>1</md-option>
         </md-select>
        </md-input-container>
        <md-input-container md-no-float>
          <label>Review Description</label>
          <textarea ng-model="vm.review.description" type="text" placeholder="Type your review here..." ng-required="true"></textarea>
        </md-input-container>

        <div layout=row>
          <md-button class="md-accent md-raised" ng-click="vm.addReviews();">Submit</md-button>
          <md-button class="md-accent md-raised" ui-sref="Home">Cancel</md-button>
        </div>
      </md-content>

  </div>
<div flex="10">
</div>
</div>
</div>
