<div ng-controller="EditController as vm" layout="column" ng-cloak>
  <br>
  <h1 style="color:Black; text-align:center;">Edit your Review here!</h1>
  <br>
  <div layout="row" layout-wrap>
    <div flex="10">

    </div>
    <div flex="">
      <md-content layout-padding class="autoScroll">
        <md-input-container>
          <label class="md-hue-1">Edit Product Name & Brand</label>
          <input ng-model="vm.newReview.name" type="text" placeholder="{{vm.takeToEdit.name}}" ng-required="true">
        </md-input-container>
        <md-input-container md-no-float>
          <label>Image</label>
          <input ng-model="vm.newReview.image" type="text" placeholder="{{vm.takeToEdit.image}}" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label>Rating</label>
          <md-select ng-model="vm.newReview.rating" placeholder="{{vm.takeToEdit.rating}}" ng-required="true">
          <md-option value='5'>5 Excellent</md-option>
          <md-option value='4'>4</md-option>
          <md-option value='3'>3</md-option>
          <md-option value='2'>2</md-option>
          <md-option value='1'>1</md-option>
         </md-select>
        </md-input-container>
        <md-input-container md-no-float>
          <label>Review Description</label>
          <textarea ng-model="vm.newReview.description" type="text" placeholder="{{vm.takeToEdit.description}}" ng-required="true"></textarea>
        </md-input-container>
        <div layout="row">
          <md-button class="md-accent md-raised " ng-click="vm.editReview();">Submit</md-button>
          <md-button class="md-accent md-raised " ui-sref="Home">Cancel</md-button>
        </div>
      </md-content>


  </div>
<div flex="10">
</div>
</div>
</div>
