<!-- <div ng-controller="HomeController as vm">
	<div ng-repeat="a in vm.reviews" class="well container">
		<div class='row'>
			<div class='col-sm-3'>
				<img ng-src='{{a.image}}' ng-alt='{{a.name}}' class='img-responsive'/>
				<div class='well container'>
					<h3><a ui-sref="ReviewDetail({id: a._id})">Product name & brand:{{a.name}}</a></h3>
					<h3>Product's Rating:{{a.rating}}</h3>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div ng-controller="HomeController as vm">
	<br>
  <h1 style="color:black; text-align:center;">Products Reviews!</h1>
	<br>
	<div layout="row" layout-wrap>
	  <div flex="10">

	  </div>
	  <div flex="">
		<div class="md-actions" layout="row" layout-align="end center">
			<md-card ng-repeat='a in vm.reviews'>
					<img ng-src="{{a.image}}" class="md-card-image img-responsive"/>
					<md-card-content>
						<h1 class="md-title">Product Name/Brand: {{a.name}}</h1>
						<h2 class="md-title">Rating: {{a.rating}}/5 Points</h2>
						<!-- <h2 class="md-title">Review: {{a.description}}</h2> -->
					</md-card-content>
					<div class="md-actions" layout="row" layout-align="end center">
						<md-button ui-sref="DetailReview({id: a._id})" class="md-accent md-raised">Check this Review</md-button>

						<md-button ng-click="vm.deleteReview(a._id)" class="md-accent md-raised">Delete</md-button>
					</div>
				</md-card>

	  </div>
		</div>

		<div flex="10">

	  </div>

</div>

<!--  another way -->
<!-- <div ng-controller="HomeController as vm">
	<div layout="row" layout-wrap>
	<div flex="20">

	</div>
	<div flex="">
  <md-content>
    <md-list>
      <md-list-item class="md-6-line" ng-repeat='a in vm.reviews'>
				<img ng-src="{{a.image}}" class="md-image"/>
        <div class="md-list-item-text">
					<h1 class="md-title">Product Name/Brand: {{a.name}}</h1>
					<h2 class="md-title">Rating: {{a.rating}}/5 Points</h2>
					<h2 class="md-title">Review: {{a.description}}</h2>

        </div>
				<md-button ui-sref="DetailReview({id: a._id})" class="md-accent md-raised">Check this Review</md-button>
				<br>
				<md-button ng-click="vm.reviews.splice($index, 1);" class="md-accent md-raised">Delete</md-button>
      </md-list-item>
    </md-list>
  </md-content>
</div>
	<div flex="10">

	</div>
</div>
</div> -->
