<br>
<div ng-show="nav.isLogin">
<div layout="row" layout-wrap>
  <div flex="30">
  </div>
  <div flex="">
  <md-content class="well container" ng-submit="nav.loginUser()">
    <h1>Sign In</h1>

    <md-input-container>
      <label class="md-hue-1">Username:</label>
      <input ng-model="nav.user.username" type="text" required placeholder="Username..." ng-required="true">
    </md-input-container>

    <md-input-container>
      <label class="md-hue-1">Password:</label>
      <input ng-model="nav.user.password" type="text" required placeholder="Password..." ng-required="true">
    </md-input-container>
​
    <!-- <label style="font-family:Ariel;">Password:</label>
    <input type="password" class="form-control" required placeholder="Password..." ng-model="nav.user.password"> -->
​
    <div style="text-align: center">
      <md-button ng-click="nav.isLogin = false;" class="md-accent md-raised">Register</md-button>
      <md-button type="submit" class="md-accent md-raised" >Login</button>
    </div>
  </md-content>
</div>
<div flex="30">
</div>
</div>
</div>

​
<div ng-show="!nav.isLogin">
  <div layout="row" layout-wrap>
    <div flex="20">
    </div>
    <div flex="">
  <form class="well container" ng-submit="nav.registerUser()">
    <h1>Registration</h1>

    <md-input-container>
      <label class="md-hue-1">Username:</label>
      <input ng-model="nav.user.username" type="text" required placeholder="Username..." ng-required="true">
    </md-input-container>
​
    <md-input-container>
      <label class="md-hue-1">Email:</label>
      <input ng-model="nav.user.email" type="email" required placeholder="Email..." ng-required="true">
    </md-input-container>


    <md-input-container>
      <label class="md-hue-1">Password:</label>
      <input ng-model="nav.user.password" type="password" required placeholder="Password..." ng-required="true">
    </md-input-container>


    <md-input-container>
      <label class="md-hue-1">Confirm Password:</label>
      <input ng-model="nav.user.confirmPassword" type="password" required placeholder="Password..." ng-required="true">
    </md-input-container>

    <div ng-show="nav.user.password && nav.user.confirmPassword && !(nav.user.password === nav.user.confirmPassword)" style="color: red">Your passwords must match.</div>
​
    <div style="text-align:center">
      <md-button type="button" ng-click="nav.isLogin = true;" class="md-accent md-raised">Login</md-button>
      <md-button type="submit" class="md-accent md-raised">Submit</md-button>
    </div>
  </div>
  </form>
  <div flex="20">
  </div>

</div>
</div>
