#Background {
  background-color: rgb(241, 115, 35);
  padding:0;
  border:0;
  border-top:none;
}

#Titulo {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 72px;
      }

.NavFont {
  font-family: 'Rubik', sans-serif;
  font-weight: 300 lighter;
  font-size: 24px;
}

      /*font-family: 'Rubik', sans-serif;

      font-family: 'Rambla', sans-serif;

      font-family: 'Permanent Marker', cursive;*/
